*{
    margin:0;
    padding:0;
}
#cabecera{
    background-color: #004B85;
    text-align: center;
}
#cabecera2{
    padding-top: 13px;
    text-align: left;
    color: white;
}
#navbar{
    background-color: #F7AE00;

}
#cartitas{
    padding-top: 15px;
}